:host {
    --border-input-color: #CECECE;
    --placeholder-color: #999;
    --link: rgb(48, 42, 42);
    --bg-button: #4C6ED7;
}

ion-content {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 24px;
    --padding-end: 24px;
    .main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ion-label {
            padding: 45px 0;
            margin: 0;
            font-size: 32px;
            font-weight: 700;
            text-align: center;
        }

        ion-input {
            width: 100%;
            --padding-top: 16px;
            --padding-bottom: 16px;
            --padding-start: 8px;
            --padding-end: 8px;
            --placeholder-color: var(--placeholder-color);
            box-sizing: border-box;
            border: 1px solid var(--border-input-color);
            border-radius: 16px;
            font-size: 14px;
            margin-bottom: 16px;
        }

        .button-group {
            width: 100%;
            height: 40px;
            padding: 0;
            margin: 0;
            ion-button {
                width: 100%;
                --border-radius: 16px;
                --background: var(--bg-button);
            }
        }

        img {
            margin-bottom: 45px;
        }

        a, a:active, a:visited {
            text-decoration: none;
            color: var(--link);
            font-weight: 500;
            font-size: 16px;
            margin: 8px 0;
        }
    }
}
